<footer class="footer">
  <div class="footer__block block no-margin-bottom">
	<div class="container-fluid text-center">
	  <p class="no-margin-bottom">{{data.year}} &copy; {{data.name}}.</p>
	</div>
  </div>
</footer>